@charset "UTF-8";
body{
    background: #e2e2e2 !important;
}

.navbar1{
    background: #10927c!important;
    /* position: fixed; */
}
.nav-pills li a:hover{
    background-color: #e2e2e2;
}
.menu1{
    top: 6%;
    background: #fafafa;
}

.card1{
    margin-top: 6%;
    margin-left: 25%;
    margin-right: 5%;
    box-shadow: 2px;
} 
.form-group{
    font-size: 20px;
}
.homepage1{
    color: #0b8571;
    font-family: sans-serif;
}

.section-title h1 {
  	font-size: 36px;
    font-weight: bold;
    margin-left: 23%;
    text-transform: uppercase;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
    color: black;
}

.section-title h1::after {
    content: "";
    position: absolute;
    display: block;
    width: 200px;
    height: 3px;
    background: #10927c!important;
    bottom: 0;
    left: calc(px);
}

.section-title1 h1 {
  	font-size: 30px;
    font-weight: bold;
    margin-left: 23%;
    /* text-transform: uppercase; */
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
    color: black;
}

.section-title1 h1::after {
    content: "";
    position: absolute;
    display: block;
    width: 300px;
    height: 3px;
    background: #10927c!important;
    bottom: 0;
    left: calc(px);
}


