*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    color: #fff;
}

/* body{
    background-color: blue;
    overflow-x: hidden;
} */
/* :root{
    --main-color: #f0b30f;
} */

.header{
    width: 100%;
    min-height: 100vh;
    background-image: linear-gradient(rgba(9, 0, 0, 0.7), rgba(9,0,0,0.65)), url(../images/background.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 10px 8%;
}

/* #navbarNav{
    flex: 1;
    /* text-align: right; */
    /* padding: right;
    padding-right: 60px;
} */ 

.navbar{
    padding: 15px 18px !important;
}

.navbar-toggler-icon {
    display: inline-block;
    width: 1.9em;
    height: 1.9em;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    /* background-color: #ffffff; */
    border: #fff;
    background-image: url(../images/bbaarr.png);
    
}

.nav-item{
    margin: 0px 10px;
}

.nav-item .nav-link{
    color: #fff;
    margin-left: 18px;
    font-size: 20px;
    font-weight: 500;
}

.btn-navbar{
    display: inline-block;
    padding: 6px 10px;
    border: 0;
    outline: 0;
    border-radius: 5px;
    background: #f5168d;
    /* color means text color*/
    color: #fff;
    font-weight: 500;
    cursor: pointer;
    text-decoration: none;
    font-size: 18px;
}

.navbar-brand{
    font-size: 40px;
     font-style: normal; 
     color: #fff; 
     font-family: sans-serif; 
     font-weight: 550;
}





.content{
    padding-top: 170px;
    /* margin-left: 56%; */
    color: #fff;
    max-width: 500px;
}

.content h3{
    font-size: 65px;
    font-family: sans-serif;
    font-weight: 550;
    /* padding-bottom: 6px; */
}
.content p{
    margin-top: 12px;
    color: #fff;
    font-size: 20px;
}
#btn1{
    /* width: 150px; */
    /* height: 36px; */
    /* margin-top: px; */
    padding: 10px 20px;
    border: 0;
    outline: 0;
    border-radius: 5px;
    background: #f5168d;
    /* color means text color*/
    color: #fff;
    font-weight: 500;
    cursor: pointer;
}

#btn2{
    /* width: 150px; */
    /* height: 36px; */
    /* margin-top: px; */
    padding: 10px 20px;
    border: 0;
    outline: 0;
    border-radius: 5px;
    background: blue;
    /* color means text color*/
    color: #fff;
    font-weight: 500;
    cursor: pointer;
}

.cen{
    text-align: center;
    max-width: 1250px;
    margin: auto;
    overflow: hidden;
    padding: 20px;
}
.service{
    display: inline-block;
    width: calc(100% / 3);
    margin: 0 -2px;
    /* padding: 20px; */
    box-sizing: border-box;
    cursor: pointer;
    transition: 0.4s;
    padding: 1.25rem;
}
.service:hover{
    background: #ddd;
}
.service i{
    color: #f5168d;
    font-size: 2.3rem;
    /* margin-bottom: 25px; */
    padding-bottom: 1rem;
}
.service h2{
    font-size: 25px;
    /* text-transform: uppercase; */
    color: #171717da;
    font-weight: 510;
    font-family: sans-serif;
    margin: 0;
    margin-bottom: 20px;
}
.service p{
    color: rgb(85, 83, 83);
    font-size: 15px;
    font-weight: 500;
}
@media screen and (max-width: 800px) {
    .service{
        width: 33%;
    }
}
@media screen and (max-width: 500px) {
    .service{
        width: 100%;
    }
}

.article{
	margin-left: 40%;
	color: black;
	display: inline-block;
	text-transform: uppercase;
	border-bottom: 4px solid #f5168d;
	font-size: 40px;
	padding-bottom: 10px;
	margin-top: 40px;
	margin-bottom: 50px;
}



